<h1>Welcome to the change machine! Change Your Life!</h1>
<form action="/printout" method='get'>
  <div class="form-group">
    <label for="total-cash">Enter your total cash amount you want change for: </label>
    <input id="total-cash" name="total-cash" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Show me the change!</button>
</form>
